.trips_wrapper{
    background-color: #f9f9fb;
    color: black;
    padding: 80px 13%;
    padding-top: 5px;
    margin-top: 0%;
    
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.cards .card{
    width: 100%;
    height: 420px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 0.8px solid rgba(131, 131, 131, 0.5);
    transition: .6s;
}
.cards .card:hover{
    border-color: rgb(231, 76, 60);
}
.cards .card img{
    width: 100%;
    height: 40%;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.cards .card .TripsContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    height: 50%;
    padding: 28px;
    padding-top: 15px;
}

.Pricing , .TripsDetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.star-icon{
    color: #6b7280;
}
.Place{
    color: black;
}
.book{
    height: 42px;
    width: 80px;
    background: linear-gradient(270deg , rgb(255,75,55) , rgb(156, 16 , 0));
    border-radius: 30px;
    color: #fff;
    border: none;
    font-size: 12px;
    cursor: pointer;
    outline: none;
}
.text{
    font-size: 10px;
}
.rating i{
    color: rgb(231, 76, 60);
}
.Pricing .price{
    font-size: 13px;
    font-weight: 600;
    color: rgb(231, 76, 60);
}