.trips_wrapper {
  background-color: var(--light-gray);
  color: black;
  padding: 2rem 2rem;
  padding-top: 20vh;
}
.trips_wrapper h2 {
  font-size: 6.5rem;
  font-weight: 800;
  color: rgb(1, 55, 52);
  letter-spacing: 1px;
  margin: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.cards .card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 420px;
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
  background-color: #fefefe;
}

.cards .card:hover {
  transform: translateY(-6px);
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.15);
}

.cards .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.cards .card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, rgb(14, 14, 14), transparent 95%);
  z-index: 1;
  transition: 0.4s ease;
}

.cards .card .TripsContent {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1px;
  color: white;
}

.Pricing,
.TripsDetail {
  display: flex;
  gap: 10px;
  align-items: center;
}

.star-icon {
  color: #f5c518;
}

.Place {
  font-size: 16px;
  font-weight: 500;
}

.book {
  height: 42px;
  width: 90px;
  background: linear-gradient(to bottom, rgb(15, 15, 15), rgb(52, 199, 172));
  border-radius: 30px;
  color: #fff;
  font-weight: 600;

  border: none;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  transition: background 0.3s ease;
}

.book:hover {
  background: black;
}

.text {
  font-size: 11px;
}

.rating i {
  color: rgb(231, 76, 60);
}

.Pricing .price {
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 125, 100);
}
